html{
    height: 100%;
    box-sizing: border-box;
    }
*, *:before,*after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: verdana, geneva, serif;
}

header{
    
    padding: 8% 0;
    background-color: dodgerblue;
    max-width: 100%;    
}
div.contenedor{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 60pt;
}

/**navegacion**/
.Navegacion{
    background-color: dodgerblue;
}

nav{
    width: 1200;
    margin: 0 auto;
    position: relative;
    
}
nav ul{
    list-style: none;
}

nav > ul > li{
    float: left;
}

nav ul::after{
    content:'';
    display: block;
    clear: both;
}



nav ul li a{
    display: inline-block;
    width: 300px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}



nav ul li a:hover {
    background-color: cyan;
}

/**sub nivel de navegacion**/

nav ul ul {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7 );
    display: none;
    list-style: none;
    
    

}
nav ul ul li {
    text-align: center;
}
nav ul li:hover > ul{
    display: block;
}





.habilidades::after{
    content: '';
    display: block;
    clear: both;
}

.habilidades{
    background-color: dodgerblue;
}

 div.caja{
 
    width: 33.3%;
    float: left;
    padding: 0 20%;
}


div.quiensoy{
    padding: 100px;
}

div.quehago {
    padding: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

div.contacto{
    padding: 100px;
}