/*html{
    box-sizing: border-box;
    }*/

/**, *:before,*after{
    box-sizing: inherit;
}*/

/**{
    margin: 0;
    padding: 0;
}*/

body{
    font-family: quenya, verdana, geneva, serif;
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face { 
    font-family: 'quenya';
    src: url('../fonts/TengwarQuenya.ttf');
}

header{    
    background-color: dodgerblue;
    padding: 8% 0;
    margin: 0;
    max-width: 100%;    
    text-align: center;
    color: white;
    font-size: 60pt;
}

@media screen and (max-width:800px){
    header{
        font-size: 20pt;
    }
}

@media screen and (max-width:300px){
    header{
        font-size: 15pt;
    }
}

nav{
    background-color: dodgerblue;
    width: 100%;
    margin: 0 0;
    position: relative;
}


nav>ul{
    list-style: none;
}

nav ul li{
    float: left;
}

nav ul::after{
    content:'';
    display: block;
    clear: both;
}

nav ul li a{
    display: inline-block;
    width: 300px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

nav ul li a:hover {
    background-color: red;
}

/**sub nivel de navegacion**/

nav ul ul{
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7 );
    display: none;
    list-style: none;
    
    

}
nav ul ul li {
    text-align: center;
}
nav ul li:hover > ul{
    display: block;
}

section#quiensoy{
    /*padding: 100px 5%;*/
}


section#quehago{
    /*padding: 100px 5%;*/
}

div.habilidades{
    background-color: dodgerblue;
    padding: 50px 5%;
}

div.habilidades::after{
    content:'';
    display: block;
    clear: both;
}



div.habilidad{
    display: inline-block;
    margin: 0;
    width: 30%;
    padding: 40px 1%;
    text-align: center;
    color: white;
    text-decoration: none;
}


div.contacto{
    padding: 100px 1%;
    width: 100%;
}

div#areatexto{
    width: 100%;
}