body{
    font-family: verdana, geneva, serif;
}

header{
    
    padding: 20px 0;
        
}
div.contenedor{
    width: 1200px;
    margin: auto;
}

/**navegacion**/
.Navegacion{
    background-color: dodgerblue;
}

nav{
    width: 1200;
    margin: 0 auto;
    position: relative;
    
}
nav ul{
    list-style: none;
}

nav > ul > li{
    float: left;
}

nav ul::after{
    content:'';
    display: block;
    clear: both;
}

nav ul li a{
    display: inline-block;
    width: 300px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

nav ul li a:hover {
    background-color: #000000;
}

/**sub nivel de navegacion**/

nav ul ul {
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7 );
    display: none;
    
    

}
nav ul li:hover > ul{
    display: block;
}