html{
    height: 100%;
    box-sizing: border-box;
    }

*, *:before,*after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    font-family: verdana, geneva, serif;
}

header{
    
    padding: 8% 0;
    background-color: dodgerblue;
    max-width: 100%;    
}

div.contenedor{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 60pt;
}

/**navegacion**/
div.Navegacion{
    background-color: dodgerblue;
}

nav{
    width: 1200;
    margin: 0 auto;
    position: relative;
}
nav>ul{
    list-style: none;
}

nav ul li{
    float: left;
}

nav ul::after{
    content:'';
    display: block;
    clear: both;
}



nav ul li a{
    display: inline-block;
    width: 300px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}



nav ul li a:hover {
    background-color: red;
}

/**sub nivel de navegacion**/

nav ul ul{
    position: absolute;
    top: 100%;
    background-color: rgba(0, 184, 228, 0.7 );
    display: none;
    list-style: none;
    
    

}
nav ul ul li {
    text-align: center;
}
nav ul li:hover > ul{
    display: block;
}

div.quiensoy{
    padding: 100px 10px;
}


div.quehago{
    padding: 100px 10px;
}

div.habilidades{
    background-color: dodgerblue;
    padding: 50px;
}

div.habilidades::after{
    content:'';
    display: block;
    clear: both;
}



div.habilidad{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    padding: 40px 20px;
    text-align: center;
    color: white;
    width: 300px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}


div.contacto{
    padding: 100px 10px;
}

form.formulario{
    display: inline-block;
}